name: CI Pipeline

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    # runs-on: ubuntu-latest
    runs-on: [self-hosted, local]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and Push Image
        run: |
          docker build -t chat-app/chat-app:latest .
          docker push chat-app/chat-app:latest

      - name: Deploy Locally
        run: |
          docker compose down
          docker compose pull
          docker compose up -d
